html, body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  }

.row {
  margin: 0px;
  }

input, button:focus, textarea, select, select:focus {
  outline: none !important;
  }

[type=button] {
  -webkit-appearance: none;
  }

a {
  text-decoration: none !important;
  }

p, label {
  color: #707070;
  }

input, textarea {
  padding: .25rem .5rem;
  }

input, input::placeholder, textarea, .light-btn, .grey-btn {
  font-size: .8rem;
  }

input, textarea, select {
  border: 1px solid #a9a9a9;
  }

input, textarea, select, .content-box, .light-btn {
  border-radius: 3px;
}

input:focus, textarea:focus, select:focus, .light-btn {
  border: 1px solid #195a7c;
  }

select {
  font-size: .9rem;
  padding: .2rem;
  color: #195a7c;
  }

select, .main-raised, .light-btn {
  background: #ffffff;
  }

select:hover {
  cursor: pointer;
  }

.blue-bg {
  background-color: #195a7c;
  height: 300px;
  width: 100%;
  z-index: -1;
  position: absolute;
  }

.main-raised {
  margin: 0px 15px 0;
  position: relative;
  /* padding: 0rem 1rem 0rem; */
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }

.sidebar img {
  height: 60px;
  width: auto;
  margin-bottom: 20px;
  }

.body-content {
  padding-top: 2.2rem;
  min-height: calc(100vh - 132px);
  }

.content-box {
  -webkit-box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  }

.nav {
  flex-wrap: nowrap;
  }

/* Handles the caret transition */

.open:hover .dropdown-toggle::after,
.dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(-180deg);
  }

.dropdown-toggle::after {
  transition: all .5s ease;
  }

/*  */

.page-title h4, h5, .light-btn:hover {
  color: #ef9a00;
  }

.page-title h4,
.page-title p,
h5, input, textarea, .light-btn, .grey-btn, input::placeholder {
  letter-spacing: .5px;
  }

.light-btn {
  box-shadow: 0 0 4px 0 rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 4px 8px 0 rgba(17, 22, 26, .08);
  -webkit-box-shadow: 0 0 4px 0 rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 4px 8px 0 rgba(17, 22, 26, .08);
  padding: .3rem .75rem;
  }

.light-btn:hover {
  box-shadow: 0 2px 16px 2px rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 8px 14px 0 rgba(17, 22, 26, .08);
  -webkit-box-shadow: 0 2px 16px 2px rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 8px 14px 0 rgba(17, 22, 26, .08);
  -moz-box-shadow: 0 2px 16px 2px rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 8px 14px 0 rgba(17, 22, 26, .08);
  border: 1px solid #efa900;
  }

.light-btn, .grey-btn {
  transition: all .2s ease;
  }

.grey-btn {
  border-radius: 8px;
  border: 1px solid #000000;
  padding: .2rem .4rem;
  background-color: #dddddd;
  margin-right: .2rem;
  }

.grey-btn:hover {
  background-color: #a9a9a9;
  }
