.table-header {
  background: #195a7c;
  padding: 1rem;
  border-radius: 3px 3px 0px 0px;
  }

.table-header span, .table-header input, .table-header-btn, tfoot, td, .blue {
  letter-spacing: .5px;
  }

.table-header span {
  color: #ffffff;
  margin-right: 15px;
  }

.table-header input {
  color: #707070;
  border-radius: 3px;
  padding-left: .4rem;
  margin: 0rem .2rem;
  border: none;
  font-size: .9rem;
  }

.table-header input, .table-header-btn, tfoot {
  border: none;
  }

.table-header-btn {
  color: #ef9a00;
  border-bottom: 1px solid #ef9a00;
  padding: 0px;
  background: none;
  font-weight: 600;
  }

.table-header-btn, td {
  font-size: .8rem;
  }

.table-header-btn:hover {
  transition: all .2s ease;
  color: #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  }

thead {
  border-bottom: 1px solid #a9a9a9;
  }

.table thead th {
  border-bottom: none;
  }

.table th {
  border-top: none;
  }

.table td {
  border-top: 1px solid #dddddd;
  padding: .4rem;
  }

.table td, .table thead th {
  vertical-align: middle;
  }

td, .sort-column {
  border-right: 1px solid #a9a9a9;
  }

.sort-column:last-child, td:last-child {
  border-right: none;
  }

th a, th a:hover, tfoot, select, .blue {
  color: #195a7c;
  }

th a, th a:hover {
  border-bottom: 1px solid #ef9a00;
  }

.sort:hover {
  text-shadow: 1px 2px 2px rgba(57, 80, 145, 0.3);
  }

.sort:hover, select:hover {
  cursor: pointer;
  }

.sort-column {
  font-weight: 400;
  }

tfoot {
  background-color: #dddddd;
  font-weight: 500;
  }
